<section class="login_form">
  <h2 class="form_heading">Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form_container" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form_group">
      <%= f.label :password, "New password", class: "form_label" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form_input" %>
    </div>

    <div class="form_group">
      <%= f.label :password_confirmation, "Confirm new password", class: "form_label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form_input" %>
    </div>

    <%= f.submit "Change my password", class: "btn" %>
  <% end %>

  <%= render "devise/shared/links" %>
</section>
