<nav class="navbar">
  <h2>Recipe App</h2>
  <ul class="nav-list">
    <% if user_signed_in? %>
      <li><%= link_to 'Home', root_path, class: "nav-btn" %></li>
    <% end %>
    <li><%= link_to 'Public Recipes', public_recipes_path, class: "nav-btn" %></li>
    <% if user_signed_in? %>
      <li><%= link_to 'Foods', foods_path, class: "nav-btn" %></li>
      <li><%= link_to 'Recipes', recipes_path, class: "nav-btn" %></li>
      <li><%= button_to 'Log out', destroy_user_session_path, method: :delete, class: "nav-btn user-btn" %></li>
    <% else %>
      <li><%= link_to 'Log in', new_user_session_path, class: "nav-btn user-btn" %></li>
      <li><%= link_to 'Sign up', new_user_registration_path, class: "nav-btn user-btn" %></li>
    <% end %>
  </ul>
</nav>
