<!DOCTYPE html>
<html>
  <head>
    <title>🍽 Recipe App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main>
      <% if flash[:notice] && !current_page?("/") %>
        <p class="notice"><%= flash[:notice] %></p>
      <% elsif flash[:alert] && !current_page?("/") %>
        <p class="alert"><%= flash[:alert] %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
